<h1>Admin Login</h1>

<%= form_with(scope: :session, url: sessions_path, local: true) do |form| %>
  <% if flash.any? %>
    <div id="error_explanation">
      <ul>
        <% flash.each do |_name, message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
