<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @page_info.name %>
</p>

<p>
  <strong>Locale:</strong>
  <%= @page_info.locale %>
</p>

<p>
  <strong>Content:</strong>
  <%= @page_info.content %>
</p>

<%= link_to 'Edit', edit_page_info_path(@page_info) %> |
<%= link_to 'Back', page_infos_path %>
