<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @image.name %>
</p>

<p>
  <strong>Photo:</strong>
  <%= image_tag photo_path(@image) %>
</p>

<p>
  <strong>URL:</strong>
  <%= photo_url(@image) %>
</p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
